<div class="wrapper" >
  <div class="topicos">
    <div class="container">
      <div class="row">
        
        <div class="col-3">          
          <ul class="topicos-footer">
            <h6>SISCAD</h6>
            <li>Quem somos</li>
            <li>Nossos serviços</li>
 
          </ul>
        </div>
        <div class="col-3">
          <ul class="topicos-footer">
            <h6>Para você</h6>
            <li>Tutorial</li>
            <li>Outra opção</li>
 
          </ul>
        </div>
        <div class="col-3">
          <ul class="topicos-footer">
            <h6>Para você</h6>
            <li>Tutorial</li>
            <li>Outra opção</li>
 
          </ul>
        </div>
      </div>
    </div>
  </div>
  <footer class="rodape">
    <p class="text-center">&copy; Todos os Direitos reservados a
      <b>SISCAD</b>
    </p>
  </footer>
</div>